/* SUBJECTS PAGE */

.subjects-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    margin-top:20px;
}

.subject-card{
    background:#fff;
    padding:25px;
    border-radius:15px;
    box-shadow:0 2px 15px rgba(0,0,0,.08);
    text-align:center;
    transition:0.3s;
    border-top:5px solid #2563eb;
}

.subject-card:hover{
    transform:translateY(-5px);
}

.subject-card i{
    font-size:40px;
    color:#2563eb;
    margin-bottom:15px;
}

.subject-card h3{
    color:#1e3a8a;
    margin-bottom:10px;
}

.subject-card p{
    color:#666;
    font-size:14px;
}